<!DOCTYPE html>
<html lang="@System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["OpenMES.WebAdmin.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <HeadOutlet />
</head>

<body>
    <Routes @rendermode="RenderMode.InteractiveServer" />
    <ReconnectModal />
    <FluentDesignTheme StorageName="theme" OfficeColor="OfficeColor.Stream" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
